// Colors
$color-dark:#0000;
$color-white: #fff;
$color-bg: #f6f8fa;
$color-gray: #1E1E1E;
$color-blue: #3D82FF;
$color-blue-secondary: #5856D6;
$color-blue-light:#E8EDFB;
$color-brown: #A2845E;
$color-brown-secondary:#AC8E68;
$color-green:#0FB539;
$color-green-secondary: #75C734;
$color-purple: #AF52DE;
$color-orange:#FF9500;
$color-yellow:#F1C100;
$color-yellow-secondary: #FFDB27;
$color-red-primary: #FF2D55;
$color-red-secondary: #FF3B30;
$color-red-third: #D73A31;

// Fonts
$sf-font: 'Lato', sans-serif;

